/* DOCTYPE CSS */

/* Body ******************************************/
body {
	background-color: black;
	background-image: url("media/Background.png");
	background-repeat: no-repeat ;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

/* Wrapper ****************************************/
#wrapper {
	margin: 0 auto 0 auto;
	width: 90%;
	min-width: 1000px;
 	box-shadow: 0px 8px 16px 0px #333333;
}

/* Header *****************************************/
#header {
	background-color: black;
	padding: 1%;
	margin-top: 1%;
}

#header h1 {
	font-family: courier;
	color: white;
	margin: 0;
}

/* Dropdown ***************************************/

#nav a{
	background-color: #999999;
	color: black;
	font-family: arial;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 1ex 0 1ex 0;
	transition: 0.25s;
	border: .2ex solid #909090;
	border-collapse: collapse;
}

#nav [aria-current="page"] {
	background-color: #BBBBBB;
}

#nav a:hover {
	background-color: #CCCCCC;
}

#nav a:active {
	background-color: #BBBBBB;
}

#toplevelmenu {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#toplevelmenu > li {
	display: inline-block;
	float: left;
	text-align: center;
	width: 20%;
}


#secondlevelmenu {
	position: absolute;
	visibility:hidden;
	height: 0;
	z-index: 1000;
	text-align: center;
	width: 18%;
	padding: 0;
	margin: 0;
}

#toplevelmenu > li:hover #secondlevelmenu,
#toplevelmenu > li:active #secondlevelmenu,
#toplevelmenu > li:focus #secondlevelmenu {
	visibility: visible;
	height: auto;
}

#secondlevelmenu > li{
	display: block;
	float: none;
}

/* Content ****************************************/
#content {
	float: none;
	background-color: rgba(255,255,255, 0.9); /* Opacity wegen Schrift nicht verwenden*/
	padding: 2%;
	min-height: 800px;
}

.table table{	
	border-collapse: collapse;
	width: 100%
}

.table th, td{
	border: 1px solid black;
}

.table th{
	background-color: rgba(0,0,0, 0.9); /* Opacity wegen Schrift nicht verwenden*/
	color: white;
	text-align: left;
	font-weight: bolder;
}

.rowEven {
	background-color: rgba(20,20,20, 0.2); /* Opacity wegen Schrift nicht verwenden*/
}

.rowUneven {
	background-color: rgba(20,20,20, 0.1); /* Opacity wegen Schrift nicht verwenden*/
}

/* Footer *****************************************/
#footer {
	background-color: black;
	padding: 10px;
	margin-bottom: 1%;
}

#footer a {
	font-family: courier;
	color: white;
	margin: 0;
}